body{
    text-align: center;
    background-color:#011F3F ;
}
#level-title{
    font-family : "Press Start 2p",cursive;
    font-size:2rem;
    margin:5%;
    color:antiquewhite;
}
.container{
    display: block;
    width:50%;
    margin:auto;
}
.btn{
    margin:25px;
    display:inline-block;
    height:200px;
    width: 200px;
    border :10px solid black;
    border-radius: 25px;
  
}


.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: white;
  
  font-family : "Press Start 2p",cursive;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 13px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.game-over{
    background-color: red;
    opacity: 0.8;
}

.red{
    background-color: red;
}.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  #show{
    display: none;
    height:100dvh;
  }
  h2 {
    width: 25%;
    font-size:15px;
    color:white;
    font-family : "Press Start 2p",cursive;
    line-height: 30px;

    
  }
  h3{
    color:aliceblue;
    font-family : "Press Start 2p",cursive;
    font-size:10px
  }
  #click{
    background-color:thistle;
    padding:1px 20px;

  }
  .video{
    position: relative;
    top:-270px;
    left:500px;
    margin:30px;

}


  @media only screen and (max-width:460px){
    #level-title{
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }
    .container {
        
        display: flex;
        width:100%;
        margin-top: 50px;

    }
    .btn{
        width:100px;
        height:100px;
    }
    .video{
        position:static;
        width:350px;
        height:210px;
    }
    h2{
        width:100%;
        font-size: 10px;

    }
    .button-89{
        margin-top:20px;
    }
    h1{
        font-size: 1rem;
        
    }
    #level-title{
        margin-top:60px;
    }

    

  }
  @media only screen and (min-width:451px) and (max-width:800px){
    #level-title{
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }
    .container {
        
        display: flex;
        width:70%;
        margin-top: 50px;

    }
    .btn{
        width:150px;
        height:150px;
    }
    .video{
        position:static;
        width:350px;
        height:210px;
    }
    h2{
        width:100%;
        font-size: 10px;

    }

    .button-89{
        margin-top:20px;
    }
    h1{
        font-size: 1rem;
        
    }
    #level-title{
        margin-top:50px;
    }

    

  }

  @media only screen and (min-width:800px) and (max-width:1025px){
    #level-title{
        font-size: 1rem;
        text-align: center;
        margin: auto;
    }
    .container {
        
        display: flex;
        width:50%;
        margin-top: 50px;

    }
    .btn{
        width:200px;
        height:200px;
    }
    .video{
        position:static;
        width:350px;
        height:210px;
    }
    h2{
        width:100%;
        font-size: 10px;

    }
    #click{
        margin-bottom:30px;
    }
    .button-89{
        margin-top:30px;
    }
    h1{
        font-size: 3rem;
        
    }
    #level-title{
        margin-top:30px;
    }

    

  }
  
